RewriteEngine on

# hide folders
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ %{HOST_SCHEME}%{HOST_NAME}/$1/ [R=301,L]

# allow direct access to Admin and Content folders
RewriteCond %{REQUEST_URI} ^/Admin.* [OR]
RewriteCond %{REQUEST_URI} ^/Content.*
RewriteRule ^(.*)$ $1 [L]

# redirect api requests
RewriteCond %{REQUEST_URI} !^/index\.php.*
RewriteCond %{REQUEST_URI} ^/api/.*
RewriteRule (.*) /index.php?q=$1 [L,QSA]

# redirect all requests to the index.php file
RewriteCond %{REQUEST_URI} !^/index\.php.*
RewriteRule ([^/]+)/(.+) /index.php?lang=$1&q=$2 [L,QSA]

RewriteCond %{REQUEST_URI} !^/index\.php.*
RewriteRule ([^/]*) /$1/home [R,L,QSA]
